// Font

$sen: "Sen Bold", sans-serif;

// Font color

$white: #ffffff;
$green: #123f29;
$light-green: #b5d44b;
$medium-green: #348970;
$dark-green: #244f3e;

// Background color 

$white-cream: #fefefe;

// Divers

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);